<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Platos Típicos</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mouse+Memoirs&family=Oswald:wght@200..700&family=Pacifico&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Sabores de Chile</h1>
        <p>Descubre lo mejor de nuestra gastronomía típica</p>
    </header>

    <nav>
        <ul>
            <li><a class="btn btn-danger" href="../index.html">Inicio</a></li>
            <li><a class="btn btn-primary" href="postres.html">Postres</a></li>
            <li><a class="btn btn-light" href="tragos.html">Tragos</a></li>
        </ul>
    </nav>

    <section>
        <h2 class="platos-chilenos">Platos Tipicos</h2>
        <p>La cocina chilena ofrece platos llenos de sabor y tradición, que reflejan la riqueza cultural y la historia del país en cada bocado.</p>
        <hr>
        <div class="contenedores">
            <div class="tarjetas">
                <img src="../imagenes/empanada.jpg" alt="Empanada de pino" class="imagen">
                <p class="descripcion-img">Empanada de Pino</p>
            </div>

            <div class="tarjetas">
                <img src="../imagenes/PastelDeChoclo.jpg" alt="PastelDeChoclo" class="imagen">
                <p class="descripcion-img">Pastel de Choclo</p>
            </div>

            <div class="tarjetas">
                <img src="../imagenes/porotos.jpg" alt="Porotos" class="imagen">
                <p class="descripcion-img">Porotos</p>
            </div>
        </div>
        <hr>
        <p>Las preparaciones tradicionales chilenas reflejan el sabor y la historia de la cocina criolla.
La empanada de pino destaca por su masa dorada y su relleno sabroso de carne picada, cebolla, huevo duro, aceitunas y pasas, horneada hasta alcanzar una textura crujiente y jugosa.
El pastel de choclo, en tanto, es un plato emblemático del verano, con una capa dulce de maíz molido que cubre un pino de carne, pollo, huevo duro, aceituna y pasas, combinando lo salado y lo dulce en una armonía única.
Por su parte, los porotos con riendas son un guiso contundente de porotos cocidos con tallarines, zapallo, longaniza y sofrito, ideal para los meses fríos, que representa la calidez del campo chileno.
Estos tres platos son pilares de la cocina nacional y se disfrutan en todo el país, tanto en la mesa familiar como en fiestas tradicionales.
        </p>
    </section>
    <footer>
        <p>© 2025 Sabores de Chile</p>
        <p>Dirección: Av. Andres Bello 457, Region Metropolitana</p>
        <p>Email: contacto@saboresdechile.cl</p>
        <p>Instagram: @saboresdechile_</p>
    </footer>
</body>
</html>
