<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bebidas Típicas</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mouse+Memoirs&family=Oswald:wght@200..700&family=Pacifico&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mouse+Memoirs&family=Oswald:wght@200..700&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Sabores de Chile</h1>
        <p>Descubre lo mejor de nuestra gastronomía típica</p>
    </header>

    <nav>
        <ul>
            <li><a class="btn btn-danger" href="../index.html">Inicio</a></li>            
            <li><a class="btn btn-primary" href="platos-tipicos.html">Platos tipicos</a></li>
            <li><a class="btn btn-light" href="postres.html" >Postres</a></li>
        </ul>
    </nav>

    <section>
        <h2 class="bebida-chilena">Tragos</h2>
        <p>Reflejo de la identidad y celebración, los tragos chilenos combinan tradición, sabor y cultura en cada copa.</p>
        <hr>
        <div class="contenedores">
            <div class="tarjetas">
                <img src="../imagenes/chicha.jpg" alt="Chicha" class="imagen">
                <p class="descripcion-img">Chicha</p>
            </div>

            <div class="tarjetas">
                <img src="../imagenes/terremoto.jpg" alt="Terremoto" class="imagen">
                <p class="descripcion-img">Terremoto</p>
            </div>

            <div class="tarjetas">
                <img src="../imagenes/piscola.jpg" alt="piscola" class="imagen">
                <p class="descripcion-img">Piscola</p>
            </div>
        </div>
        <hr>
        <div>
            <p>La cultura chilena cuenta con una variedad de bebidas tradicionales que acompañan celebraciones y momentos especiales, entre las que destacan la chicha, el terremoto y la piscola.
La chicha, elaborada artesanalmente a partir de uvas fermentadas, es una bebida campesina de la Zona Central que conserva su carácter familiar y ancestral, con métodos que incluyen la zaranda y la fermentación en barricas o tinajas.
El terremoto, típico de las Fiestas Patrias, combina vino pipeño, helado de piña y fernet o licor amargo, creando una mezcla dulce, refrescante y de alta graduación alcohólica que hace honor a su nombre.
La piscola, en tanto, es uno de los tragos más populares entre jóvenes y adultos, preparada con pisco chileno y bebida cola, siendo un ícono de reuniones sociales y celebraciones cotidianas.
Estas tres bebidas representan distintos matices de la identidad y el espíritu festivo del pueblo chileno.
            </p>
        </div>   
    </section>
    <footer>
        <p>© 2025 Sabores de Chile</p>
        <p>Dirección: Av. Andres Bello 457, Region Metropolitana</p>
        <p>Email: contacto@saboresdechile.cl</p>
        <p>Instagram: @saboresdechile_</p>
    </footer>
</body>
</html>
